html {
    background: linear-gradient(141deg, #00CABB 0%, #80EEC2 15%, #4CE4A3 30%, #8BF0C5 50%, #89EDE6 70%, #FF8555);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.month-header {
    color: darkgray;
}
.event-record {
    color: black;
    font-size: 110%;
}
.event-expander {
    color: black;
    cursor: pointer;
    font-size: 300%;
    font-weight: 900; 
}
a {
    color: forestgreen;
}
.panel-heading {
    font-size: 150%;
}