body {
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.month-expander {
    margin-left: 2px;
}
.month-header {
    color: darkgray;
}
.event-record {
    color: black;
}
a {
    color: forestgreen;
}