html {
    background: linear-gradient(-45deg, #D3F28F, #4CE4A3, #E73C7E, #23A6D5, #23D5AB, #89EDE6);
    background-size: 600% 600%;
    width: 100%;
    height: 100%;
    animation: Gradient 25s ease infinite;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.input-group,
.form-group,
.spaced {
    margin: 10px;
}

#userName {
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    color: lightgreen;
}

#userTab {
    border: 3px solid white;
    border-radius: 20px;
    min-height: 475px;
    padding: 5px;
    float: right;
    margin: 10px;
    z-index: 999;
}

#location {
    float: right;
}

#loginTop {
    margin-right: -1px;
    margin-bottom: 10px;
    padding: 10px;
}

#logo {
    width: 45%;
    float: left;
    padding-left: 15px;
}

.desc {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 0;
    color: white;
}

p.desc {
    font-size: 200%;
    font-weight: 100;
    color: white;
}

h1.desc {
    font-size: 400%;
}

.alert a {
    color: #172556;
}

.nav-pills > li,
.nav-tabs > li {
    float: none;
    display: inline-block;
}

form {
    max-width: 400px;
    display: inline-block;
}

.nav-tabs,
.nav-pills {
    display: inline-block;
    text-align: center;
    position: center;
    max-width: 400px;
}

.no-click {
    cursor: not-allowed;
}

.panel-heading {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.form-inline > .form-group {
    vertical-align: middle;
}

.oauth {
    display: inline-block;
    text-align: center;
    position: center;
    padding: 10px;
}

.auth-option {
    font-size: 300%;
    margin: 5px;
    color: white;
    font-style: italic;
}

.legal p {
    color: white;
    font-style: italic;
}

.signup-loader {
    color: white;
}