.input-group,
.form-group,
.spaced,
.input {
    margin: 10px;
}

body {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h2 {
    font-style: italic;
}

#userImage {
    height: 256px;
    width: 256px;
    display: inline;
    cursor: pointer;
}

#previewImage {
    height: 256px;
    width: 256px;
    display: inline;
}

.circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-flex;
}

p {
    font-weight: 400;
    text-indent: each-line 20px;
    font-size: 22px;
}

.fas,
.far {
    font-size: 75%;
}

table {
    width: 75%;
}

.btn {
    width: 100%;
}

.user-information a {
    color: lightgreen;
}

.event-closer,
.group-closer,
.event-name,
.group-name,
#eventAdder,
#groupAdder {
    cursor: pointer;
}

#navigator .panel-heading,
.modal-body {
    color: black;
}