html {
    background: linear-gradient(-45deg, #D3F28F, #4CE4A3, #E73C7E, #23A6D5, #23D5AB, #89EDE6);
    background-size: 600% 600%;
    width: 100%;
    height: 100%;
    animation: Gradient 25s ease infinite;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}
body * {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
    font-style: italic;
}
