html {
    background: linear-gradient(-45deg, #D3F28F, #4CE4A3, #E73C7E, #23A6D5, #23D5AB, #89EDE6);
    background-size: 600% 600%;
    background-position: 100% 50%;
    width: 100%;
    height: 100%;
}
body * {
    color: white;
}
h2 {
    font-style: italic;
}
